@model MenuPlanner.Models.Menus

@{
   ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
   <legend>Menus</legend>

   <div class="display-label">
      @Html.DisplayNameFor(model => model.MenuCards.Name)
   </div>
   <div class="display-field">
      @Html.DisplayFor(model => model.MenuCards.Name)
   </div>

   <div class="display-label">
      @Html.DisplayNameFor(model => model.Text)
   </div>
   <div class="display-field">
      @Html.DisplayFor(model => model.Text)
   </div>

   <div class="display-label">
      @Html.DisplayNameFor(model => model.Price)
   </div>
   <div class="display-field">
      @Html.DisplayFor(model => model.Price)
   </div>

   <div class="display-label">
      @Html.DisplayNameFor(model => model.Active)
   </div>
   <div class="display-field">
      @Html.DisplayFor(model => model.Active)
   </div>

   <div class="display-label">
      @Html.DisplayNameFor(model => model.Order)
   </div>
   <div class="display-field">
      @Html.DisplayFor(model => model.Order)
   </div>

   <div class="display-label">
      @Html.DisplayNameFor(model => model.Type)
   </div>
   <div class="display-field">
      @Html.DisplayFor(model => model.Type)
   </div>

   <div class="display-label">
      @Html.DisplayNameFor(model => model.Day)
   </div>
   <div class="display-field">
      @Html.DisplayFor(model => model.Day)
   </div>
</fieldset>
@using (Html.BeginForm())
{
   @Html.AntiForgeryToken()
   <p>
      <input type="submit" value="Delete" />
      |
        @Html.ActionLink("Back to List", "Index")
   </p>
}
