@model ModelValidation.Models.Appointment

@{
    ViewBag.Title = "Make a booking";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div>
        <p>@Html.ValidationMessageFor(appointment => appointment.ClientName)</p>
        <p>Your name: @Html.EditorFor(appointment => appointment.ClientName)</p>
    </div>
    <div>
        <p>@Html.ValidationMessageFor(appointment => appointment.Date)</p>
        <p>Appointment date: @Html.EditorFor(appointment => appointment.Date)</p>
    </div>
    <div>
        <p>@Html.ValidationMessageFor(appointment => appointment.TermsAccepted)</p>
        <p>@Html.EditorFor(appointment => appointment.TermsAccepted) I accept the terms and conditions</p>
    </div>    
    <input type="submit" value="Make booking" />
}