@using Emso.WebUi.Properties
<div class="container">
    <div class="emso-trend-wrapper">
        <div class="row" id="fSummary">
            <div class="col-md-3">
                <img src="~/Content/img/Benz6.jpg" alt="@Resources.PanelDesignerOverviewTitle" class="img-responsive"/>
                <h4 class="text-uppercase">
                    <a target="_blank" href="@Url.Action("Index", "PanelDesignerOverview")">@Resources.PanelDesignerLink</a>
                </h4>
                <p class="lead text-muted small">@Resources.PanelDesignerDescription</p>
            </div>
            <div class="col-md-3">
                <img src="~/Content/img/Benz2.jpg" alt="@Resources.PanelPcOverviewTitle" class="img-responsive"/>
                <h4 class="text-uppercase">
                    <a target="_blank" href="@Url.Action("Index", "PanelPcOverview")">@Resources.PanelPcLink</a>
                </h4>
                <p class="lead text-muted small">@Resources.PanelPcDescription</p>
            </div>
            <div class="col-md-3">
                <img src="~/Content/img/Benz3.jpg" alt="@Resources.AutomotiveSoftwareOverviewTitle" class="img-responsive"/>
                <h4 class="text-uppercase">
                    <a target="_blank" href="@Url.Action("Index", "AutomotiveSoftwareOverview")">@Resources.AutomotiveSoftwareLink</a>
                </h4>
                <p class="lead text-muted small">@Resources.AutomotiveSoftwareDescription</p>
            </div>
            <div class="col-md-3">
                <img src="~/Content/img/Benz4.jpg" alt="@Resources.EmbeddedSoftwareOverviewTitle" class="img-responsive"/>
                <h4 class="text-uppercase">
                    <a target="_blank" href="@Url.Action("Index", "EmbeddedSoftwareOverview")">@Resources.EmbeddedSoftwareLink</a>
                </h4>
                <p class="lead text-muted small">@Resources.EmbeddedSoftwareDescription</p>
            </div>
        </div>
    </div>
</div>
